@model SmartCampus.ViewModels.MakePostVm

@{
    ViewData["Title"] = Model.Id == Guid.Empty ? "Create MakePost" : "Edit MakePost";
}

<style>
    #mainimgDiv img{
        
        width:100%;
    }
    displayonEditPri img {
        width: 30px;
    }
</style>

<!-- Hero section starts from here -->
<header id="top-banner">
    <div class="banner-content">
        <h1>Create a post</h1>
    </div>
</header>
<!-- Hero section ends from here -->


<section id="contact">
    <div class="container">
        <h4>Let's Connect</h4>
        <p>you can Create Notice And Events our LearnHub</p>
        <form asp-action="AddOrEdit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-8">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">

                                <label>Link</label>
                                <input asp-for="Link" class="form-control" />
                                <span asp-validation-for="Link" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">

                                <label>Date</label>
                                <input asp-for="Date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" />
                                <label>Title</label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select asp-for="CategoryId" asp-items="@ViewBag.Category" class="form-control category"> </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Gallery</label>
                                    <input type="file" multiple class="form-control" onchange="loadImg(event)" id="Galaries" asp-for="Galleries" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Status</label>
                                <select asp-for="MakepostStatus" class="form-control">
                                    <option value="Enable">Enable</option>
                                    <option value="Disable">Disable</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-outline-dark">Save</button>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-4">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-12 col-lg-12 ">
                                @if (Model.ImagePath != null)
                                {
                                    <div class="displayonEditPri" id="displayonEditPri">
                                        <img src="~/@Model.ImagePath" style="height: 100PX; margin-bottom: 3px; width: 100PX;" alt="Alternate Text" />
                                    </div>
                                }
                                <div class="primaryimg" id="mainimgDiv" style="color:red">


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12 col-lg-12">
                                @if (Model.GalleryImagesPath != null)
                                {
                                    <div class="displayonEdit" id="displayonEdit">
                                        <div class="row">
                                            @foreach (var item in Model.GalleryImagesPath)
                                            {

                                                <div class="col-md-2 col-3 col-lg-2 nopadding">
                                                    <img src="~/@item.ImagePath" style="height: 30PX; margin-bottom: 3px; width: 30PX; width:100%; " alt="Alternate Text" />
                                                </div>

                                            }
                                        </div>
                                    </div>
                                }
                                <div class="galleryimg">
                                    <div class="row " id="galleryParent">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>
