@model SmartCampus.Models.AcademicResource

<h2>Post Details</h2>
<div>
    <h3>@Model.Title</h3>
    <p>@Model.Description</p>
    <p>Category: @Model.Category.Name</p>
    
</div>

<a asp-action="ApproveAcademiceIndex" asp-controller="Home">Back to List</a>
