<header id="top-banner">
    <div class="banner-content">
        <h1>Sussesful</h1>
    </div>
</header>

<h1 class="text-center">You post is created Sussesful</h1>
<h1 class="text-center">admins can review Your pending post</h1>
