
@{
    ViewData["Title"] = "AccessDenied";
}

<header id="top-banner">
    <div class="banner-content">
        <h1 class="mt-5">Access Denied</h1>
        <h6 class="text-light">You do not have persmission to view this resource</h6>
        <h6  class="text-light">Please check your credentials and try again.</h6>
        <img src="~/images/images.jpg" alt="AccessDenied" />

    </div>
</header>

