@model SmartCampus.ViewModels.CreateRoleViewModel
<h1>create Role</h1>

<div class="container-fluid">
    <form method="post">
        <div class="row">
            <div class="col-md-10 offset-1 col-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="form-group">

                    <label> Role Name</label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>


        </div>
        <button style="width:auto" type="submit" class="btn btn-light">Create Role</button>
    </form>
</div>